@model AuthorizationKP.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Authorization";
    Layout = "_Layout";
}

<h1>Обновление пароля</h1>
<div>
    <form asp.asp-controller="Account" asp-action="ChangePassword" method="post">
        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="Login"></label>
            <input asp-for="Login">
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword">
            <span asp-validation-for="NewPassword"></span>
        </div>
        <button>Сменить пароль</button>
    </form>
</div>